<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <p><b>Adress:</b> {{address}}</p>
    <p><b>Latitude:</b> {{latitude}}</p>
    <p><b>Longitude:</b> {{longitude}}</p>
    <p><b>Temperature:</b> {{temperature}} &#8451;</p>
    <p><b>Apparent temperature:</b> {{apparentTemperature}} &#8451;</p>
    <p><b>Wind speed:</b> {{windSpeed}} m/s</p>
    <p><b>Summary:</b> {{summary}}</p>

    {{> footer}}
  </body>
</html>
